<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title></title>
    </head>

    <body>
        <div th:fragment="footer">
            <div class="container">
                <br/>
                <!--  <div style="background-color: #021C10;">
                    <p style="color: #ffffff; font-size: 16px; text-align: center;">Copyright ©. Employees System</p>
                    <p style="color: #ffffff; font-size: 16px; text-align: center;">By opalencia</p>
                </div>-->
            </div>            
        </div>
    </body>
</html>